/*selector de IDs*/
/*Bootstrap*/

#encabezado {
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align : center;
    background-color: cadetblue;
}

#menu{
    top: 10%;
    left: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    text-align : right;
    background-color: coral;
}

#lateral{
    top: 15%;
    left: 0;
    height: 75%;
    width: 20%;
    position: fixed;
    text-align : left;
    background-color: aqua;
}
#contenido {
    top: 15%;
    left: 20%;
    height: 75%;
    width: 80%;
    position: fixed;
    background-color: darkgreen;
}
#piePagina{
    bottom: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align : center;
    background-color: dimgray;
}

/*las clases se pueden usar en mas de uno*/
/*si hay conflicto la prioridad va en orden seguns en el css*/

.parrafoBlanco{
    color: white;
}
.parrafoCentrado{
    text-align: center
}

.parrafoRojo{
    color: red
}

/*p{ Esto es para todos los elementos
    font-size: 20px;
}*/

/*div.parrafoRojo p {
    font-size: 15px;
}*/

/*el asterisco es para decir que todo*/

* {
    font-size: 20px
}

body{
    background-color: chartreuse
}

a:visited{
    font-size: 30px;
}

a:hover{
    background-color: chocolate;
    color: white;
    transition: 1s;
}

a:active{
    background-color: purple;
    color: white
}